* {
    font-family: Poppins;
    box-sizing: border-box;
  }
  header {
    background-color: #ce0505;
    height: 80px;
    position: relative;
  }
  
  .icon-span {
    background-color: white;
    border-radius: 50%;
    padding: 5px 15px;
    position: absolute;
    top: 8px;
    left: 80px;
  }
  .icon {
    color: #ce0505;
    text-decoration: none;
    font-size: 33px;
    font-weight: 600;
  }
  .login-signup {
    position: absolute;
    top: 27px;
    right: 80px;
    word-spacing: 10px;
  }
  
  .login {
    text-decoration: none;
    color: white;
    opacity: 0.9;
  }
  .createacc {
    word-spacing: normal;
    text-decoration: none;
    color: white;
    opacity: 0.9;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
  }
  main {
    padding: 10px 80px;
  }
  section {
    position: relative;
  }
  .title-text {
    font-size: 33px;
    color: #192f60;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .filters-article {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: 260px;
    height: 682px;
    padding: 10px 20px;
  }
  .filters-article div {
    margin-bottom: 5px;
  }
  .rest1-article {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: 794px;
    height: 291px;
    position: absolute;
    left: 350px;
    top: 60px;
  }
  .rest2-article {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: 794px;
    height: 291px;
    position: absolute;
    left: 350px;
    top: 390px;
  }
  .pagination {
    position: absolute;
    left: 45%;
    bottom: 20px;
  }
  
  .pagination a {
    text-decoration: none;
    color: #8c96ab;
    border-radius: 7px;
    border: solid 1px #8c96ab;
    width: 36px;
    height: 36px;
    padding: 5px 15px;
    margin-right: 5px;
  }
  
  .filters {
    color: #192f60;
    font-weight: 600;
    font-size: 18px;
  }
  .select-location {
    color: #192f60;
    font-size: 14px;
  }
  .dropdown {
    border-radius: 3px;
    border: solid 1px #8c96ab;
    width: 208px;
    height: 35px;
    color: #8c96ab;
  }
  .cuisines {
    margin-top: 15px;
  }
  .costfortwo-div {
    margin-top: 15px;
  }

  .restaurant-image1{
    width: 120px;
    height: 120px;
    margin: 25px 0 31px 35px;
    border-radius: 23px;
  }
  
  

  .hrline{
    align-self: center;
    width: 91%;
    border: solid 1px #dedfe5;
    
  }
  
  
  @media only screen and (max-width: 576px) {
    .title-text {
      font-size: 25px;
    }
    main {
      padding: 20px 30px;
    }
    .filters-article {
      width: 100%;
    }
    .rest1-article {
      transform: translate(-300px, 700px);
      width: 100%;
      height: 350px;
    }
    .rest2-article {
      transform: translate(-300px, 750px);
      width: 100%;
      height: 350px;
    }
    .pagination {
      width: 100%;
      transform: translate(-150px, 830px);
    }
  }
  
  